-- MySQL dump 10.13  Distrib 5.1.33, for Win32 (ia32)
--
-- Host: localhost    Database: harrisontrust
-- ------------------------------------------------------
-- Server version	5.1.33-community

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Current Database: `harrisontrust`
--

CREATE DATABASE /*!32312 IF NOT EXISTS*/ `harrisontrust` /*!40100 DEFAULT CHARACTER SET latin1 */;

USE `harrisontrust`;

--
-- Table structure for table `donors_general`
--

DROP TABLE IF EXISTS `donors_general`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `donors_general` (
  `Donor_ID` int(11) NOT NULL AUTO_INCREMENT,
  `Donor_Name` varchar(50) NOT NULL,
  `Age` int(11) NOT NULL,
  `DOB` date NOT NULL,
  `Gender` varchar(7) DEFAULT NULL,
  `Blood_Group` varchar(3) NOT NULL,
  `Phone` char(10) NOT NULL,
  `City` varchar(200) NOT NULL,
  PRIMARY KEY (`Donor_ID`),
  UNIQUE KEY `unique_donor_phone` (`Phone`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `donors_general`
--

LOCK TABLES `donors_general` WRITE;
/*!40000 ALTER TABLE `donors_general` DISABLE KEYS */;
INSERT INTO `donors_general` VALUES (1,'Aarav Sharma',25,'2001-04-15','Male','O+','1234567890','Chennai'),(2,'Rohan Mehta',35,'1991-02-09','Male','A+','1324567890','Bengaluru'),(3,'Aakash',37,'1989-03-09','Male','B+','1324567891','Hyderbad');
/*!40000 ALTER TABLE `donors_general` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `donors_medical`
--

DROP TABLE IF EXISTS `donors_medical`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `donors_medical` (
  `Donor_ID` int(11) NOT NULL AUTO_INCREMENT,
  `Haemoglobin` decimal(4,1) NOT NULL,
  `Weight` decimal(5,1) NOT NULL,
  `Systolic_BP` int(11) NOT NULL,
  `Diastolic_BP` int(11) NOT NULL,
  `Last_Donation` date DEFAULT NULL,
  PRIMARY KEY (`Donor_ID`),
  CONSTRAINT `donors_medical_ibfk_1` FOREIGN KEY (`Donor_ID`) REFERENCES `donors_general` (`Donor_ID`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `donors_medical`
--

LOCK TABLES `donors_medical` WRITE;
/*!40000 ALTER TABLE `donors_medical` DISABLE KEYS */;
INSERT INTO `donors_medical` VALUES (1,'14.2','65.0',120,80,'2026-05-01'),(2,'15.3','72.1',124,87,'2026-05-01'),(3,'14.5','59.0',134,87,'2026-05-11');
/*!40000 ALTER TABLE `donors_medical` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `recipients_general`
--

DROP TABLE IF EXISTS `recipients_general`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `recipients_general` (
  `Recipient_ID` int(11) NOT NULL AUTO_INCREMENT,
  `Recipient_Name` varchar(50) NOT NULL,
  `Age` int(11) NOT NULL,
  `DOB` date NOT NULL,
  `Gender` varchar(50) DEFAULT NULL,
  `Blood_Group` varchar(3) NOT NULL,
  `Phone` char(10) NOT NULL,
  PRIMARY KEY (`Recipient_ID`),
  UNIQUE KEY `unique_recipient_phone` (`Phone`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `recipients_general`
--

LOCK TABLES `recipients_general` WRITE;
/*!40000 ALTER TABLE `recipients_general` DISABLE KEYS */;
INSERT INTO `recipients_general` VALUES (1,'Bob Russel',61,'1965-01-03','Male','AB+','1234567891'),(2,'Rebecca Varghese',50,'1976-01-07','Female','O-','1234598765');
/*!40000 ALTER TABLE `recipients_general` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `recipients_medical`
--

DROP TABLE IF EXISTS `recipients_medical`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `recipients_medical` (
  `Recipient_ID` int(11) NOT NULL AUTO_INCREMENT,
  `Rec_Condition` enum('Critical','Normal') NOT NULL,
  `Urgency` enum('High','Medium','Low') NOT NULL,
  `Units_Reqd` int(11) NOT NULL,
  PRIMARY KEY (`Recipient_ID`),
  CONSTRAINT `recipients_medical_ibfk_1` FOREIGN KEY (`Recipient_ID`) REFERENCES `recipients_general` (`Recipient_ID`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `recipients_medical`
--

LOCK TABLES `recipients_medical` WRITE;
/*!40000 ALTER TABLE `recipients_medical` DISABLE KEYS */;
INSERT INTO `recipients_medical` VALUES (1,'Critical','Medium',6),(2,'Critical','High',24);
/*!40000 ALTER TABLE `recipients_medical` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-10-03 20:21:15
